<section id="about" class="about" data-aos="fade-up">
  <div class="about-container">
    <h2>About Me</h2>

    <div class="about-card">
      <p>
        My name is <strong>Shekhar Singh</strong>. I am a backend-focused
        full-stack developer with
        <strong>2 years and 6 months of professional experience</strong>
        in building scalable, secure, and business-driven applications.
      </p>

      <p>
        My core expertise lies in
        <strong>ASP.NET Core, C#, RESTful APIs, and database-driven systems</strong>,
        with strong frontend experience in
        <strong>Angular, TypeScript, HTML, and CSS</strong>.
        I emphasize clean architecture, performance optimization,
        and maintainable code.
      </p>

      <p>
        I have worked with
        <strong>Refread </strong>,
        <strong>& SupplyValid & Business Trust TechSoft Pvt. Ltd.</strong>,
        <strong>ST Engineering</strong>,
        and as a <strong>Freelancer at Lumetech</strong>.
        My experience includes enterprise systems, multi-tenant architectures,
        WPF desktop applications, and cloud-based solutions.
      </p>
    </div>
  </div>
</section>
